# Created by .ignore support plugin (hsz.mobi)
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
.idea/
cmake-build-*/
*.iws
out/

.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/httpRequests
.import/
export.cfg
export_presets.cfg
.mono/

.git
build/
vendor/
test_data/